<div class="tag-filtered-list">
<div>Approved Tags:</div>
  {{input type="checkbox" checked=isChecked}}
  {{#each approvedTags}}
    {{tag-item tag=this}}
  {{else}}
    <div class="tag">--no approved tags--</div>
  {{/each}}
</div>
<div class="tag-filtered-list">
<div>Unapproved Tags:</div>
  {{#each unapprovedTags}}
    {{tag-item tag=this}}
  {{else}}
    <div class="tag">--no unapproved tags--</div>
  {{/each}}
</div>
